.button {
  width: 100%;
  min-height: 60px;
  border-radius: 8px;
  /* border: solid 4px #3b32c2; */
  border: none;
  background-color: #343434;
  color: #676767;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Inter', sans-serif;
}

/* .button:hover {
  background-color: #696881;
} */

.button-accent {
  background-color: #ed6f2b;
  color: #fff;
  cursor: pointer;
}

.button-accent:hover {
  background-color: #d17848;
}

.button-return {
  height: 32px;
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: transparent;
  color: #343434;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  cursor: pointer;
}

.button-return:hover {
  color: #d17848;
}
