.button {
  width: 100%;
  min-height: 60px;
  border-radius: 10px;
  /* border: solid 4px #3b32c2; */
  border: none;
  background-color: #5149c9;
  color: aliceblue;
  font-size: 18px;
  font-weight: 900;
}

.button:hover {
  background-color: #696881;
}