.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.header__logo-image {
  height: 60px;
}